/* пиши нормальные классы - oper-table-header, oper-table-row */

table {
  width: 100%;
}

.operatin-header {
  text-align: center;
}

table, td {
  border: 1px solid #000000;
  text-align: center;
  border-spacing: 0;
}

