/* пиши нормальные классы - oper-table-header, oper-table-row */
.header, .td {
  border: 0.2px solid #000000;
}

/* не используй переопределения по тегам */
h1, h2 {
  text-align: center;
}

.th {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.td {
  width: 100%;
}